.background{
    background-image: url('../c1-assets/cat-big.png');
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-between;
    align-items: flex-end;
    background-position: top right;
    padding-bottom: 400px;
}
.background2{
    background-image: url('../c1-assets/cute-pet-small.png');
    background-repeat: no-repeat;
    background-position: bottom right ;
}
/* .background3{
    background-image: url('../c1-assets/cute-pet-mid.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    justify-content: space-between;
    align-items: flex-end;
}
.background4{
    background-image: url('../c1-assets/cute-dog-mid.png');
    background-repeat: no-repeat;
    background-position: right;
} */